{% extends "layout.html"%} {%block container%} {% import "_macros.html" as macros %}

<form class="max-w-md mx-auto" action="" method=POST >

  {{form.csrf_token}}
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>


  <div class="relative z-0 w-full mb-5 group">
     {{macros.campoNuevo(form.matricula, class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer")}} 
    </div>

  <div class="relative z-0 w-full mb-5 group">
    {{macros.campoNuevo(form.email, class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer")}}
  </div>
  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-5 group">
     {{macros.campoNuevo(form.nombre, class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer")}}
    </div>
    <div class="relative z-0 w-full mb-5 group">
     {{macros.campoNuevo(form.apellidos, class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer")}}
    </div>
     <div class="relative z-0 w-full mb-5 group">
     {{macros.campoNuevo(form.especialidad, class="block py-2.5 px-0 w-full text-sm text-heading bg-transparent border-0 border-b-2 border-default-medium appearance-none focus:outline-none focus:ring-0 focus:border-brand peer")}}
    </div>
    
  </div>
  <button
    type="submit"
    class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
  >
    Submit
  </button>
</form>

{%endblock%}
