{% extends "layout.html"%} {%block container%}  {% import "_macros.html" as macros %} 


  

<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="bg-neutral-secondary-soft border-b border-default">
            <tr>
                <th scope="col" class="px-6 py-3 font-medium">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Apaterno
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Correo
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Editar
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Detalles
                </th>
            </tr>
        </thead>
        <tbody>
          {% for alum in alumno%*}
            <tr class="odd:bg-neutral-primary even:bg-neutral-secondary-soft border-b border-default">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    {{alum.nombre}}
                </th>
                <td class="px-6 py-4">
                    {{alum.paterno}}
                </td>
                <td class="px-6 py-4">
                    {{alum.email}}
                </td>
                <td class="px-6 py-4">
                    <a href="modificar?id={{alum.id}}" class="font-medium text-fg-brand hover:underline">Edit</a>
                </td>
                <td class="px-6 py-4">
                    <a href="detalles?id={{alum.id}}" class="font-medium text-fg-brand hover:underline">Detalles</a>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>


{%endblock%}

